<section class="bg-white wrapper-header-lg mt-14">
  <div class="wrapper-header-sm">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl bg-gradient-to-r from-green-400 to-secondary bg-clip-text text-transparent">400</h1>
        <p class="mb-4 text-3xl tracking-tight font-bold text-primary-dark md:text-4xl">An unknown error occured</p>
        <p class="mb-4 text-lg font-light text-primary-dark-2">Sorry, we can't find that resource. Please try again later.</p>
      </div>
    </div>
  </div>
</section>
